:root {
  --green1: hsl(163, 65%, 41%);
  --green1: hsl(163, 100%, 40%);
  --gray: #556080;
  --black: #0a1022;
  /* --red-err:hsl(15, 100%, 41%); */
  --red-err: hsl(1, 100%, 68%);
  --white: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* for django forms */
.errorlist {
  color: var(--red-err, hsl(343, 65%, 41%));
  font-size: 14px;
}
.helptext {
  /* color: var(--gray, #0a1022); */
  color: #eee;
  font-size: 14px;
}
label {
  margin-top: 30px;
  font-size: 20px;
}
br {
  display: none;
}
/* end django forms */

/* container */
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 965px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

/*end container */

/* page */
.page {
  color: var(--white, #f5f5fe);
  /* transition: 0.3s left; */
  background-color: var(--black, #0a1022);
}
/* end page */

/* header */
.page header {
  background-color: hsl(225, 20%, 42%, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
}

.page header .container {
  height: 75px;
  justify-content: space-between;
  flex-direction: row;
}

@media (min-width: 768px) {
  .page header .container {
    height: 60px;
  }
}
.page header .container .logo {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green1, #25ae88);
  /* background-color: white; */
  /* height: 50px; */
  /* width: 50px; */
  /* padding: 10px; */
  font-size: 29px;
  font-weight: bold;
  font-style: italic;
  /* transform: scale(0.1); */
  /* border-radius: 50%; */
  /* box-shadow: inset 0px -7px 10px 2px #00000029;*/
}
.page header .container .logo .g {
  transform: translate(32%, -50%);
}

header .links {
  display: flex;
  gap: 20px;
}

header .links > li > a {
  font-size: 18px;
  font-weight: bold;
  color: var(--white, #f5f5f5);
  transition: 0.3s;
}
header .links > li > a:hover {
  text-shadow: 0px 0px 13px var(--green1, #25ae88);
  color: var(--green1, #25ae88);
}

.page header .container ul.icon {
  list-style: none;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--white, #f5f5f5);
  border-radius: 5px;
  padding: 4px;
}

.page header ul.icon li {
  width: 100%;
  height: 2px;
  background-color: var(--white, #f5f5f5);
}

.page header a.sinup {
  padding: 10px;
  background-color: var(--green1, green);
  color: var(--white, #f5f5f5);
  border-radius: 20px;
  /* transition: 0.3s linear; */
  display: block;
}
.page header a.sinup:hover {
  padding: 9px;
  margin: 1px;
  /* border: 2px solid var(--white, white); */
  box-shadow: 0 0 20px 2px hsl(163deg 100% 40% / 80%);
}

/* end header */

/* sections  */
.page section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--black, #0a1022);
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}

/* sections chat-ai */
.page section:first-of-type {
  padding-top: 125px;
  /* margin-top: 75px; */
}
.page section:first-child {
  padding-top: 50px;
  /* margin-top: 75px; */
}

.page section.chat-ai h1 {
  width: fit-content;
  margin: 0 auto 70px;
  /* margin: 100px auto; */
  font-size: 35px;
}
@media (min-width: 768px) {
  .page section.chat-ai h1 {
    margin: 0 auto 100px;
    font-size: 40px;
  }
}

.page .chat-ai .container {
  /* height: calc(100vh - 325px); */
  justify-content: space-between;
  gap: 40px;
}
.page section .container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.page section form input {
  /* height: 50px; */
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  /* line-height: 1; */
}
.page form input[type="password"],
.page form input[type="text"] {
  background-color: var(--white, #f5f5fe);
  color: var(--gray, #556080);
  caret-color: var(--green1, #25ae88);
  width: 100%;
  max-width: 600px;
}

.page section form input[type="submit"] {
  background-color: var(--gray, #556080);
  color: var(--white, #f5f5fe);
  padding: 10px 40px;
  cursor: pointer;
  /* border: solid 2px var(--white); */
  box-sizing: border-box;
}
.page section form input[type="submit"]:hover {
  border: 2px solid var(--white, white);
  padding: 8.4px 40px;
}

.page section .container .response {
  width: 100%;
  padding: 10px;
  min-height: 300px;
  overflow: auto;
  border-radius: 6px;
  color: var(--white, #f5f5fe);
  border: solid var(--green1, #25ae88) 2px;
  font-size: 20px;
}

/* ************************* sinup and login page******************  */
.page section.sinup-page .have-account,
.page section.login-page .have-account {
  color: var(--green1, #25ae88);
  font-size: 16px;
  padding: 10px;
  transition: 0.3s;
}
.page section.sinup-page .have-account:hover,
.page section.login-page .have-account:hover {
  text-shadow: 0px 0px 13px var(--green1, #25ae88);
}

/* *************************end sinup and login page******************  */

.page section.for-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page section.for-logo .logo {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green1, #25ae88);
  background-color: white;
  height: 50px;
  width: 50px;
  /* padding: 10px; */
  font-size: 29px;
  font-weight: bold;
  font-style: italic;
  transform: scale(5);
  border-radius: 50%;
  box-shadow: inset 0px -7px 10px 2px #00000029;
}
.page section.for-logo .logo .g {
  transform: translate(32%, -50%);
}
